chardet==2.2.1
Cheetah==2.4.4
Django==1.9.6
docopt==0.6.2
Flask==0.10.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
numpy==1.9.2
oauthlib==1.1.1
path-and-address==1.0.0
Pygments==2.1.1
python-twitter==2.2
requests==2.7.0
requests-oauthlib==0.6.1
simplejson==3.6.5
six==1.9.0
urllib3==1.10.4
virtualenv==15.0.1
Werkzeug==0.11.4
